$lightBlue: #115FF4;
$darkBlue: #060CE9;
$primaryWhite: #FCFCFF;
$secondaryWhite: #F8F9FF;
$primaryGrey: #ccc;
$secondaryGrey: #bbb;
$tertiaryGrey: #aaa;
$yellow: #FFCC00;
$red: red;
$green: green;
$primaryBlack: #07262C;
$secondaryBlack: #072C3E;
$black: $primaryBlack;

$border: solid 1px $black;

$internalPadding: 0.75em;
$externalPadding: 1.25em;

$internalMargin: 0.5em;
$externalMargin: 1.25em;

$boxWidth: 10em;
$boxHeight: calc(3 / 5 * $boxWidth);
