$lightBlue: #115FF4;
$darkBlue: #060CE9;
$primaryWhite: #FCFCFF;
$secondaryWhite: #F8F9FF;
$primaryGrey: #ccc;
$secondaryGrey: #bbb;
$tertiaryGrey: #aaa;
$yellow: #FFCC00;
$red: red;
$green: green;
$primaryBlack: #07262C;
$secondaryBlack: #072C3E;
$black: $primaryBlack;

$border: solid 1px $black;

$internalPadding: 15px;
$externalPadding: 20px;

$marginRef: 10px;
$internalMargin: $marginRef calc($marginRef / 2);
$externalMargin: calc(1.5 * $marginRef);

$boxWidth: 160px;
$boxHeight: calc(3 / 5 * $boxWidth);

$displayHeight: calc(6 * $boxHeight + 5 * $marginRef);
$displayWidth: calc(6 * $boxWidth + 5 * $marginRef);

$maxBoard: 75vw;
$maxQuestion: calc($maxBoard / 6 - 7 * $marginRef);
